.container {
  width: 100%;
  height: 200vh;
  position: relative;
}
.top-content {
  width: 100%;
  height: 100px;
  background-color: gray;
}
header {
  background-color: black;
  position: sticky; /* この要素が下に記載した画面上の位置に来た時そこで固定される */
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
}
