.wrapper {
  padding: 0 200px;
}
/* お知らせ */
.infomation {
  width: 100%;
  height: 40px;
  background-color: rgb(195, 195, 195);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.infomation p {
  color: #fff;
  font-size: 0.75rem;
  padding: 1px 0; /* hover時border生成によって文字が動くのを防ぐ */
}
/* hover時に子要素に適用 */
.infomation:hover p {
  border-bottom: 1px black solid;
  padding-bottom: 0; /* hover時border生成によって文字が動くのを防ぐ */
}
.arrow-left {
  margin-left: 20px;
  width: 10px;
  height: 10px;
  border: 1px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(45deg); /* 要素の四角を回転させる */
}
.arrow-right {
  margin-right: 20px;
  width: 10px;
  height: 10px;
  border: 1px solid;
  border-color: #fff #fff transparent transparent;
  transform: rotate(45deg); /* 要素の四角を回転させる */
}
/* header */
header {
  width: 100%;
  height: 120px;
}
.main-nav {
  width: 100%;
  height: 72px;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px rgb(195, 195, 195) solid;
}
.main-nav svg {
  margin: auto 10px;
  color: rgb(140, 140, 140);
  cursor: pointer;
}
.icons {
  display: flex;
}
.sub-nav {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
}
.sub-nav a {
  display: flex;
  height: 100%;
  cursor: pointer;
}
.sub-nav span {
  margin: 0 10px;
  padding: 0 5px;
  font-size: 0.725rem;
  display: flex;
  align-items: center;
}
.sub-nav span:hover {
  margin-top: 2px;
  border-bottom: 2px solid;
}
/* メインコンテンツ */
.main-slide {
  width: 100%;
  height: 600px;
  background-image: url("images/main_img.jpeg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
.main-slide:hover .image-controller {
  opacity: 1;
}
.image-controller {
  opacity: 0;
  width: 100%;
  height: 570px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#left-controller {
  padding: 17px 12px 17px 22px;
  background-color: rgba(255, 255, 255, 0.4);
}
#right-controller {
  padding: 17px 22px 17px 12px;
  background-color: rgba(255, 255, 255, 0.4);
}
#left-controller:hover {
  background-color: black;
}
#left-controller:hover .left-controller-arrow {
  border-color: transparent transparent #fff #fff;
}
#right-controller:hover {
  background-color: black;
}
#right-controller:hover .right-controller-arrow {
  border-color: #fff #fff transparent transparent;
}
.left-controller-arrow {
  width: 12px;
  height: 12px;
  border: 1px solid;
  border-color: transparent transparent black black;
  transform: rotate(45deg); /* 要素の四角を回転させる */
}
.right-controller-arrow {
  width: 12px;
  height: 12px;
  border: 1px solid;
  border-color: black black transparent transparent;
  transform: rotate(45deg); /* 要素の四角を回転させる */
}
.swiper-bullet {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-bullet span {
  margin: auto 5px;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #fff;
}
#bullet3 {
  background-color: black;
}
/* topics */
.topics {
  width: 100%;
}
.topics h2 {
  text-align: center;
  font-weight: lighter;
  margin-top: 60px;
  margin-bottom: 40px;
}
.topics-gallery {
  display: flex;
  justify-content: center;
}
.topics-gallery img {
  width: 230px;
  height: 143.11px;
}
.topic-tag {
  color: inherit;
  text-decoration: none;
  margin: 0 15px;
  display: flex;
  flex-flow: column;
}
.topics-gallery p,
span {
  margin-top: 5px;
  margin-bottom: 1px;
  width: fit-content; /* 中の文字(要素)の長さと同じになるように親要素の幅を決める */
  font-size: 0.65rem;
}
.topics-gallery span {
  color: gray;
}
.topics-gallery .topic-tag:hover p,
.topics-gallery .topic-tag:hover span {
  border-bottom: 1px black solid;
  margin-bottom: 0; /* border-bottomによって動くのを防ぐ */
}
.topics-gallery button {
  border-radius: 5px;
}
.more-tag {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.more-tag a {
  color: inherit;
  text-decoration: none;
  font-size: 0.75rem;
  padding: 15px 90px;
  border: 1px rgb(209, 209, 209) solid;
  border-radius: 5px;
}
.more-tag a:hover {
  color: white;
  background-color: rgb(189, 189, 189);
}
/* infomations */
.infomations {
  width: 100%;
}
.infomations h2 {
  text-align: center;
  font-weight: lighter;
  margin-top: 60px;
  padding-bottom: 40px;
  border-bottom: 1px rgb(209, 209, 209) solid;
}
.infomations-tag div {
  padding: 15px 0;
  font-size: 0.825rem;
  border-bottom: 1px rgb(209, 209, 209) solid;
}
.infomations-tag span {
  margin-right: 20px;
}
.infomations-tag a {
  margin-right: 20px;
  color: inherit;
  text-decoration: none;
  padding-bottom: 1px;
}
.infomations-tag a:hover {
  border-bottom: 1px black solid;
  padding-bottom: 0;
}
